﻿@{
    ViewData["Title"] = "主页";
}

<div class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2"><img class="img-fluid" src="~/images/logo.svg" /></div>
            <div class="col-md-4"><h3>首页</h3></div>
            <div class="col">
                <form class="navbar-form navbar-right" asp-controller="Home" asp-action="Search" method="get">
                    <input type="text" class="form-control" name="s" placeholder="搜索...">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div id="carouselExampleCaptions" class="carousel slide col-7" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/banner/banner1.svg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>空压机推荐</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/banner/banner2.svg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>干燥机推荐</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/banner/banner3.svg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>真空泵推荐</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-5">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#type1">空压机商城</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#type2">零配件超市</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#type3">工程安装</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="type1">
                <div class="card-body">
                    <a href="#">&nbsp;&nbsp;活塞式空压机&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;螺杆式空压机&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;永磁变频空压机&nbsp;&nbsp;</a>
                </div>
                <div class="card-body">
                    <a href="#">&nbsp;&nbsp;无油空压机&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;高压空压机&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;移动式空压机&nbsp;&nbsp;</a>
                </div>
                <div class="card-body">
                    <a href="#">&nbsp;&nbsp;特种空压机&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;空气净化设备&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;气动工具系列&nbsp;&nbsp;</a>
                </div>
                <div class="card-body">
                    <a href="#">&nbsp;&nbsp;工业冷水机系列&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;制氮设备系列&nbsp;&nbsp;</a>/
                    <a href="#">&nbsp;&nbsp;辅助工具&nbsp;&nbsp;</a>
                </div>
            </div>
            <div class="tab-pane fade" id="type2">
                
            </div>
            <div class="tab-pane fade" id="type3">
                
            </div>
        </div>

    </div>
</div> 
    
