﻿@{
    ViewData["Title"] = "搜索";
    var Results = ViewBag.SearchResult;
}

<div id="main" style="margin-top:20px;">
    <div class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2"><img class="img-fluid" src="~/images/logo.svg" /></div>
                <div class="col-md-4"><h3>搜索结果</h3></div>
                <div class="col">
                    <form class="navbar-form navbar-right" asp-controller="Home" asp-action="Search" method="get">
                        <input type="text" class="form-control" name="s" placeholder="搜索...">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="py-3">
        <div class="container">

                <div class="row ">
                   @if (Results.Count != 0)
                    {
                        foreach (var item in Results)
                        {
                            <div class="col-md-3 p-3">
                                <div class="card text-center">
                                    <img class="card-img-top" src="@(item.Picture)">
                                    <div class="card-body">
                                        <div class="card-subtitle">@item.Name</div>
                                        <p class="card-text">@item.Price.ToString("C")</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center col-12 text-muted">没有搜索结果</div>
                    }


                </div>
            </div>


    </div>
</div>