﻿@model KaoPuWebApp.Models.ViewModels.AddressViewModel

<!--Add address modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#address-modal">form</button>
<div id="address-modal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加新地址</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-horizontal" method="post" asp-controller="User" asp-action="AddAddress" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Contacter" class="control-label"></label>
                        <input asp-for="Contacter" class="form-control" />
                        <span asp-validation-for="Contacter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Detail" class="control-label"></label>
                        <input asp-for="Detail" class="form-control" />
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--Invoke POST method-->
                    <button type="submit" class="btn btn-primary">保存</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>

