﻿@using KaoPuWebApp.Models.Entities
@model User

@{
    ViewData["Title"] = "Edit";
}

<!--并没有提供ViewModel，所以controller里的viewmodel是哪里来的？-->
<h1>编辑个人信息</h1>

<form class="form-horizontal" method="post" asp-controller="User" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle" class="col-2 control-label">昵称</label>
        <div class="col-10">
            <input type="text" class="form-control" required asp-for="UserName" value="@Model.UserName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-2 control-label">头像</label>
        <div class="col-5">
            <img src="@(Model.Avatar)" style="max-width:200px;" />
            <input type="file" asp-for="Avatar">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-2 control-label">邮箱</label>
        <div class="col-10">
            <input type="text" class="form-control" required asp-for="Email" value="@Model.Email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>