﻿@model KaoPuWebApp.Models.Entities.User
@{
    ViewData["Title"] = "个人主页";
}

<div id="main" style="margin-top:20px;">
    <div class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2"><img class="img-fluid" src="~/images/logo.svg" /></div>
                <div class="col-md-4"><h3>用户中心</h3></div>
                <div class="col">
                    <form class="navbar-form navbar-right" asp-controller="Home" asp-action="Search" method="get">
                        <input type="text" class="form-control" name="s" placeholder="搜索...">
                    </form>
                </div>

            </div>
        </div>

    </div>

    <div class="py-3">
        <div class="container">
            <div class="row ">
                <div class="list-group col-md-3 py-3">
                    <a class="list-group-item list-group-item-action active" asp-controller="User" asp-action="Index">首页</a>
                    <a class="list-group-item list-group-item-action" asp-controller="User" asp-action="Order">我的订单</a>
                    <a class="list-group-item list-group-item-action" asp-controller="User" asp-action="Index">收藏</a>
                </div>

                <div class="col container">
                    <div class="py-3">
                        <div class="container">
                            <div class="card">
                                <div class="card-header">我的信息</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card-body">
                                                <img class="img-fluid d-block rounded-circle" src="@(Model.Avatar)">
                                                <h5 class="card-title text-center">@Model.UserName</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-title"><b>收货地址</b></div>
                                            <a asp-action="AddAddress" asp-controller="User" data-target="#address-modal">新增地址</a>

                                            <div class="row">
                                                @if (Model.Addresses.Count() == 0)
                                                {
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <p class="card-text">目前还没有地址~</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    int count = 0;
                                                    foreach (var address in Model.Addresses)
                                                    {
                                                        <div class="col-md-4">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h5 class="card-title"><b>@address.Contacter</b></h5>
                                                                    <h6 class="card-subtitle my-2 text-muted">@address.PhoneNumber</h6>
                                                                    <p class="card-text">@address.Detail</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        count++;
                                                        if (count >= 3) { break; }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="container">
                            <div class="card">
                                <div class="card-header">最近订单</div>
                                <div class="card-body">
                                    <div class="row">
                                        @if (Model.PurchaseHistory.Count() == 0)
                                        {
                                            <div class="offset-5 text-muted">您没有任何订单！</div>
                                        }
                                        else
                                        {
                                            int count = 0;
                                            foreach (var record in Model.PurchaseHistory)
                                            {
                                                <div class="col-md-3">
                                                    <div class="card text-center">
                                                        <img class="card-img-top" src="@(record.Item.Picture)">
                                                        <div class="card-body">
                                                            <div class="card-subtitle">@record.Item.Name</div>
                                                            <p class="card-text">@record.Item.Price.ToString("C")</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                count++;
                                                if (count >= 4) { break; }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="container">
                            <div class="card">
                                <div class="card-header">为您推荐</div>
                                <div class="card-body">
                                    <div class="row">
                                        @if (ViewBag.RecommandList != null)
                                        {
                                            int count = 0;
                                            foreach (var item in ViewBag.RecommandList)
                                            {
                                                <div class="col-md-3">
                                                    <div class="card text-center">
                                                        <img class="card-img-top" src="@(item.Picture)">
                                                        <div class="card-body">
                                                            <div class="card-subtitle">@item.Name</div>
                                                            <p class="card-text">@item.Price.ToString("C")</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                count++;
                                                if (count >= 8) { break; }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </div>

        </div>
    </div>


    <a class="btn-outline-primary" asp-action="AddItem" , asp-controller="User">增加物品</a>
    <a class="btn-outline-primary" asp-action="AddPurchase" , asp-controller="User">增加购买记录</a>
    <a class="btn-outline-primary" asp-action="RemovePurchase" , asp-controller="User">移除购买记录</a>

</div>
