﻿@{
    ViewData["Title"] = "我的订单";
}

<div id="main" style="margin-top:20px;">
    <div class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2"><img class="img-fluid" src="~/images/logo.svg" /></div>
                <div class="col-md-4"><h3>用户中心</h3></div>
                <div class="col">
                    <form class="navbar-form navbar-right" asp-controller="Home" asp-action="Index" method="get">
                        <input type="text" class="form-control" name="s" placeholder="搜索...">
                    </form>
                </div>

            </div>
        </div>

    </div>

    <div class="py-3">
        <div class="container">
            <div class="row ">
                <div class="list-group col-md-3 py-3">
                    <a class="list-group-item list-group-item-action" asp-controller="User" asp-action="Index">首页</a>
                    <a class="list-group-item list-group-item-action active" asp-controller="User" asp-action="Order">我的订单</a>
                    <a class="list-group-item list-group-item-action" asp-controller="User" asp-action="Index">收藏</a>
                </div>

                <div class="col container">
                    <div class="py-3">
                        <div class="card">
                            <div class="card-header">历史订单</div>
                            <div class="card-body">
                                @if (ViewBag.Itemlist.Count == 0)
	                            {
                                <div class="offset-5 text-muted">您没有任何订单！</div>
	                            }
                                @foreach (var record in ViewBag.Itemlist)
                                {
                                <div class="py-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row text-center">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2">物品名称</div>
                                                <div class="col-md-2">成交价格</div>
                                                <div class="col-md-2">物品评分</div>
                                                <div class="col-md-2">订单状态</div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-md-2"><img class="img-fluid d-block" src="@record.Item.Picture"></div>
                                                <div class="col-md-2">
                                                    <div class="text-center">@record.Item.Name</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="text-center">@record.Item.Price.ToString("C")</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="text-center">@record.Item.Rating.ToString("F1")</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="text-center">@record.OrderState</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" class="text-center">操作</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
