﻿@using Microsoft.AspNetCore.Identity;
@using KaoPuWebApp.Models.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User)</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                        <a class="dropdown-item" asp-controller="User" asp-action="Index">个人中心</a>
                        <a class="dropdown-item" asp-controller="User" asp-action="Edit">编辑个人信息</a>
                       @if (UserManager.GetUserName(User).Equals("admin"))
                        {
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Manage" asp-action="Index">管理中心</a>
                        }

                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
            </ul>
        </div>

    </form>
}
else
{
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">登录</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">注册</a></li>
        </ul>
    </div>
    
}