﻿@model IEnumerable<KaoPuWebApp.Models.Entities.Item>

<div class="container py-3">
    <div class="btn-group" role="group">
        <form asp-controller="Manage" asp-action="ItemList">
            <button class="btn btn-outline-primary" type="submit">Item</button>
        </form>
        <form asp-controller="Manage" asp-action="UserList">
            <button class="btn btn-outline-primary" type="submit">User</button>
        </form>
    </div>
</div>

<div class="container py-3">
    <p>
        <a asp-action="CreateItem">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categroy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Picture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categroy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <a asp-action="EditItem" asp-route-id="@item.ItemId">Edit</a> |
                        <a asp-action="DetailsItem" asp-route-id="@item.ItemId">Details</a> |
                        <a asp-action="DeleteItem" asp-route-id="@item.ItemId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

